@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-fm: #a5abb1;
  --fs-fm: 0.80rem;
  --fs--h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}
html{
  scroll-behavior: smooth;

}
/* Loader */
.Loader{
  /* margin: auto auto; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;


  left: 50%;


  top: 50%;


  transform: translate(-50%, -50%);
}
/* Nav Bar */
.top-bar{
  border-bottom: solid;
  /* border-style: solid; */
  border-width: .25em;
  padding: 2em;
  /* line-height: em; */
  color: #377fb3;
  font-style: none;
  text-decoration: none;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  height: 5.5em;

}
.nav-link{
  color: rgb(85, 85, 124);
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  flex-direction: row;
  margin-top: 1em;
  font-size: 1rem;
  margin-left: 1.25em;
  margin-right: 1.25em;
  align-items: left;

}
.logo-img{
  display:inline;
  flex-direction: row;
  padding-bottom: 20px;
  height: 5.5em;
  padding-bottom: 1em;
  margin-bottom: -.5em;
  margin-top: -.5em;
  /* float: left;
  position:absolute; */
  left: 0px;
  /* border-style: solid; */
}
.session-comp{
  margin-top: .5em;
}
/* Search Component */
.search-container{
  margin: auto 0;
  text-align: center;
  padding: 3em 3em;
}
.search-bar{
  min-width: 80%;
  margin: 0 auto;
}
.minor-text{
  color: var(--clr-fm);
  font-style: italic;
  font-size: var(--fs-fm);
  margin-top: 0.8em;
}
.details-italic{
  color: var(--clr-fm);
}
@media (max-width: 600px){
  .search-bar{
    max-width: 100%;
  }
  .search-container{
    padding: 3em 1.5em;
  }
}
/* body of pages */
body{
  font-size: var(--fs-body);
}
h1{
  font-size: var(--fs--h1);
}
h2{
  font-size: var(--fs-h2);
}
h3{
  font-size: var(--fs-h3);
}
footer{
  text-align: center;
  margin-bottom: 1em;
}
.icon{

  margin-left: 0.25em;
  height: 3em;
  width: auto;
}
/* Index elements */
.container{
  padding: 2em 2em;
}
.index-cards{
  margin-top: 1em;
}
.ind-card{
  padding: 1em;
  height: 15em;
  padding-top: auto 0;
  border-radius: 25px;
}
.buttons{
  margin-top: 0.5em;
}
.session-none{
  position: absolute;
  width: 80%;
  margin: 0 auto;
  padding: 1em 2em;
  font-weight: bold;
  height: 5em;
  border-radius: 25px;
  
}
.index-news{
  padding: 2em 2em;
  border-radius: 25px;
  margin-top: 4em;
}
.news{
  margin-bottom: 0.10em;
}
.news-title:hover{
  text-decoration: underline;
}
.news-image, .stock-image{
  /* height: 8em;
  width: auto; */
  width: 6em;
  height: auto;
}
.fav-stock-image{
  width: 6em;
  height: auto;
}
.stock-image, .fav-stock-image{
  /* box-shadow: 2px 2px 2px #000000; */
  box-shadow: 0 0 3px #1b3881, 0 0 5px #000000;
  margin-top: 0;
}
/* Show Page Elements */
.fav-stock-container{
  text-align: center;
  margin:  0 auto;
}
.fav-container{
  border-radius: 25px;
  padding: 0.25em 0.25em;
}

.show-fav{
  cursor: pointer;
  padding: 5px;
  margin: 0.25em; 
  text-align: center;
  border-radius: 25px;
}
.fav-title{
  margin-bottom: .25em;
}

.fav-button{
  margin: 0.25em;
}
.fav-title, .fav-stock-image :hover {
  font-size: 1.75rem;
}
/* Show Details */
.container-showdetails{
  padding: 2em 1em;
}
.details-right, .details-left, .details-news{
  padding: 0.5em 1em;
  margin: 1em;
}
.details-news-card{
  padding: 1em .75em;
  margin-bottom: 1em;
  border-radius: 25px;
}
.details-netPositive{
  color: rgb(6, 134, 6);
}
.details-netNegative{
  color:rgb(212, 4, 4);
}

/* .details-chart{
  height: 2em;
  width: auto;
  display: block;
} */
/* Media / Responsive CSS */

@media(min-width: 800px){
  .search-bar{
    max-width: 50%;
  }
  .index-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }
  :root{
    --fs--h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
  .fav-container{
    border-color: rgb(196, 192, 192);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .show-fav{
    flex: 1 0 25%;
    max-width: 33%;
  }
  .details-top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .details-left{
    padding-top: 0.25em;
    min-width: 28%;
  }
  .details-right{
    padding-top: 1em;
    min-width: 60%;
  }
}
@media(max-width: 600px){
  h1{
    font-size: 2.5rem;
    margin: 1em;
  }
  h2{
    font-size: 2rem
  }
  h3{
    font-size: 1.5rem
  }
  .show-fav{
    flex: 1 0 100%;
  }
  .logo-img{
    margin-top: 1em;
    height: 3.5em;

  }
  .nav-link{
    margin-top: 2.3em;
    font-size: .70rem;
  }
  .google-session{
    font-size: .2rem;
    min-width: 100%;
    height: 3em;
    display: block;
  }
  .container{
    padding: 2em 1em;

  }
  .index-cards{
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr;
    /* place-items: center; */
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /* margin-left: 0;
    position: relative; */
  }
  .ind-card{
    height: 20em;
    max-width: 80%;
    border-radius: 25px;
    padding-bottom: 1em;
  }
  .index-news{
    padding: 1em 0.5em;
    border-radius: 25px;
  }
}